
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.main_header {
   background-color:dimgray;
} 
.main_saction{
    background-color: antiquewhite;
}
.mmm{
    color: blue;
}
span{
    background-color: lawngreen;
}